# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.eggs/
*.venv/
env/
venv/

# Node
node_modules/
npm-debug.log
package-lock.json

web/*/static/frontend/dist/
web/*/static/frontend/node_modules/
web/*/static/frontend/package-lock.json

# If you want to ignore all dist folders everywhere (recursive)
**/dist/**
