__pycache__/
*.pyc
*.pyo
*.sqlite
*.log
venv/
.env

# Node
node_modules/
npm-debug.log
package-lock.json

web/*/static/frontend/dist/
web/*/static/frontend/node_modules/
web/*/static/frontend/package-lock.json

# If you want to ignore all dist folders everywhere (recursive)
**/dist/